---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: name-tests-test
        exclude: tests/(common.py|util.py|(helpers|integration/factories)/(.+).py)
  - repo: local
    hooks:
      - id: mypy
        name: mypy type checker
        exclude: docs/
        entry: poetry run mypy
        language: system
        types: [python]
        args:
          - --ignore-missing-imports
          - --scripts-are-modules
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
        require_serial: true
        types_or: [cython, pyi, python]
        args: ["--profile", "black", "--filter-files"]
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [python, pyi]
